.header {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 20px 40px;
}

.content {
    max-width: 980px;

}

.header-logo {
    height: 50px;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(118.38deg, #FCFCFC -4.6%, #E9E9E9 200.44%);
}

.main {
    max-width: 980px;
    margin: auto;
}

@media (max-width: 1020px) {
    .main {
        padding: 0 30px;
    }
}

.dwn-link-1 {

}

.windows-logo {
    width: 25px;
}