@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.slider-gallery {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 450px;
  border-radius: 20px;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background: #d9d9d9;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-gallery .controls button {
  position: absolute;
  left: 20%;
  top: 50%;
  z-index: 100;
}

.slider-gallery .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-gallery .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider-text {
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: -30px;
}

@media (max-width: 560px) {
  .slider-text {
    font-size: 15px;
  }
}